<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <panth_structured_data>
            <structured_data>
                <product>1</product>
                <breadcrumb>1</breadcrumb>
                <organization>1</organization>
                <website>1</website>
                <faq>1</faq>
                <article>1</article>
                <review>1</review>
                <video>1</video>
                <brand>1</brand>
                <seller>1</seller>
                <configurable_multi_offer>1</configurable_multi_offer>
                <remove_native_markup>1</remove_native_markup>
                <return_policy_days>30</return_policy_days>
                <brand_attribute>manufacturer</brand_attribute>
                <gtin_attribute></gtin_attribute>
                <mpn_attribute></mpn_attribute>
                <enable_product_list_schema>1</enable_product_list_schema>
                <accepted_payment_methods></accepted_payment_methods>
                <delivery_methods></delivery_methods>
                <product_condition>new</product_condition>
                <price_valid_until_default></price_valid_until_default>
                <custom_properties></custom_properties>
                <product_group_enabled>0</product_group_enabled>
                <pros_cons_enabled>0</pros_cons_enabled>
                <pros_attribute>product_pros</pros_attribute>
                <cons_attribute>product_cons</cons_attribute>
                <energy_label_enabled>0</energy_label_enabled>
                <energy_class_attribute>energy_class</energy_class_attribute>
                <certification_enabled>0</certification_enabled>
                <certification_attribute>certifications</certification_attribute>
                <sale_event_enabled>1</sale_event_enabled>
                <business_type>Organization</business_type>
                <default_brand></default_brand>
                <return_policy_type>refund</return_policy_type>
                <return_policy_fees>free</return_policy_fees>
                <limited_stock_threshold>5</limited_stock_threshold>
            </structured_data>
            <social_profiles>
                <facebook_url></facebook_url>
                <twitter_url></twitter_url>
                <instagram_url></instagram_url>
                <linkedin_url></linkedin_url>
                <youtube_url></youtube_url>
                <pinterest_url></pinterest_url>
                <tiktok_url></tiktok_url>
            </social_profiles>
            <organization>
                <legal_name></legal_name>
                <logo></logo>
                <phone></phone>
                <email></email>
                <street></street>
                <locality></locality>
                <region></region>
                <postcode></postcode>
                <country></country>
                <same_as></same_as>
            </organization>
            <breadcrumbs>
                <enable_breadcrumb_priority>0</enable_breadcrumb_priority>
                <breadcrumb_format>longest</breadcrumb_format>
            </breadcrumbs>
        </panth_structured_data>
    </default>
</config>
